*{
    padding: 0px;
    margin: 0px;
}
ul{
    border: solid 1px;
    width:  200px;
    position: fixed;
    height: 100%;
    background-color: pink;
    padding-top: 60px;
}
#text1{              
    color: red;
    font-size: 30px;
    font-weight: bold;
}
#text2{
    color: green;
    font-size: 30px;
    font-weight: bold;
}
ul li{
    border: solid 1px black;
    height: 20px;
    width: 70px;
    margin-left: 100px;
    background-color: yellow;
    text-align: center;
    list-style: none;
    border-radius: 10px;
    margin-bottom: 10px;
    ul li a{
        color: black;
        font-size: 22px;
        text-decoration: none;
    }
}
 ul li:hover{
    background-color: red;
 }
 #home{
    border: solid 10px;
    height: 580px;
    background-color: blanchedalmond ;
    padding-left: 200px;
 }
 #text3{
    color: blue;
    font-size: 30px;     
 } 
 #text3{
    color: ;
    font: size 30px; ;
 }
 #text4{
    color: ;
    font-size: 30px;
 }
 #bt1{
    height: 50px;
    width: 180px;
    background-color: orange;
    border-radius: 20px;
    color: bisque;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
 }
 #about{
    border: solid 1px;
    height: 580px;
    background-color: gainsboro;
    padding-left: 200px;

 }
 #aboutme{
    font-size: 100px;
    color: aliceblue;
 }
 html{
    scroll-behavior: smooth;
 }